@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
html body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
.header,
.header-product {
  display: flex;
  justify-content: space-between;
  min-height: 144px;
}
.header .logo,
.header-product .logo {
  margin-top: 63px;
  transition: all 1s;
}
.header .logo:hover,
.header-product .logo:hover {
  filter: invert(50%);
}
.header .menu,
.header-product .menu {
  display: flex;
  list-style-type: none;
  margin-top: 57px;
}
.header .menu .active-link,
.header-product .menu .active-link {
  color: #212121;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: right;
  border-bottom: 3px solid #212121;
}
.header .menu a,
.header-product .menu a {
  padding: 10px 13px;
  display: block;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  text-decoration: none;
}
.header .menu a:hover,
.header-product .menu a:hover {
  color: #212121;
  border-bottom: 1px solid #8c8c8c;
}
.header #search:hover,
.header-product #search:hover {
  filter: invert(50%);
  border-bottom: none;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container .content {
  flex: 1;
}
.padding-site {
  padding-left: 84px;
  padding-right: 84px;
}
/* главная страница - слайдер */
.slider {
  height: 800px;
  background-image: url('img/slider.jpg');
  position: relative;
}
.slider .slider-text {
  margin-top: 283px;
}
.slider .slider-text h4 {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.promo-text h2,
.hot-text h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -3px;
}
.promo-text p,
.hot-text p,
.ex-text p,
.slider-text p {
  width: 458px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 10px;
}
.promo-text a,
.hot-text a,
.ex-text a,
.slider-text a {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 22px;
}
.order-us {
  display: flex;
  border-radius: 22.5px;
  height: 46px;
  background-color: #ffffff;
  box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  justify-content: center;
  align-items: center;
  width: 212px;
  transition: all 1s;
}
.order-us:active {
  box-shadow: 0 0 4.85px 0.15px white;
  position: relative;
  top: 2px;
}
.order-us:hover {
  background: #d9dee1;
}
.slider-navigation {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 19px;
}
.point1 {
  width: 40px;
  height: 40px;
  position: relative;
}
.point1:hover .point2 {
  background: #000;
}
.point2 {
  width: 30px;
  height: 30px;
  background: #c7c7c7;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  transition: all 1s;
}
.point2-active {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  margin: 0;
}
/* главная страница - продукты */
.feautured-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.tab-controll {
  width: 300px;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #6c6c6c;
}
.tab-controll a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  display: block;
  padding-left: 9px;
}
.tab-controll a:hover {
  color: #212121;
}
.tab-controll .tab-new {
  width: 115px;
}
.tab-controll .tab-featured {
  width: 185px;
}
.tab-controll .tab-active {
  color: #212121;
  border-bottom: 3px solid #212121;
}
.btn-ghost {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  text-decoration: none;
}
.btn-ghost:link,
.btn-ghost:visited {
  color: #212121;
}
.btn-ghost:hover {
  color: #9c9c9c;
  text-decoration: none;
  border-bottom: 1px solid #9c9c9c;
}
.product {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 120px;
  flex-wrap: wrap;
}
.product .item {
  position: relative;
  margin-bottom: 30px;
}
.product-hover {
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  opacity: 0.9;
  width: 268px;
  height: 268px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.product-hover h3 {
  color: #212121;
  font-size: 21.91px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}
.product-hover p {
  color: #6c6c6c;
  font-size: 13.94px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  width: 80%;
}
.product-hover a {
  height: 48px;
  width: 48px;
  text-decoration: none;
  font-size: 40px;
  border: 1px solid #d9dee1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  transition: all 1s;
}
.product-hover a:link,
.product-hover a:visited {
  color: #212121;
}
.item:hover .product-hover a:hover,
.product-ex:hover .product-hover a:hover {
  background: #f7f7f7;
  box-shadow: 0 2px 4.85px 0.15px #6c6c6c;
  color: #6c6c6c;
}
.item:hover .product-hover a:active,
.product-ex:hover .product-hover a:active {
  box-shadow: 0 0 4.85px 0.15px #6c6c6c;
  position: relative;
  top: 2px;
}
.item:hover .product-hover,
.product11:hover .product-hover-tranding,
.product-ex:hover .product-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* главная страница - промо */
.promo-product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.promo-product .promo-content-1,
.promo-product .promo-content-2 {
  width: 631px;
  height: 683px;
  padding-left: 52px;
}
.promo-product .promo-content-1 .promo-text,
.promo-product .promo-content-2 .promo-text {
  margin-top: 283px;
}
.promo-product .promo-content-1 .promo-text h4,
.promo-product .promo-content-2 .promo-text h4 {
  color: #1e88e5;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 48px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.promo-product .promo-content-1 .promo-text h2,
.promo-product .promo-content-2 .promo-text h2 {
  color: #212121;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -3px;
}
.promo-product .promo-content-1 {
  background-image: url(img/promo-img1.jpg);
  margin-bottom: 30px;
}
.promo-product .promo-content-2 {
  background-image: url(img/promo-img2.jpg);
}
/* главная страница - трэнды */
.tranding-products {
  box-sizing: border-box;
  padding-right: 84px;
  padding-left: 84px;
}
.tranding-products .tranding-products-top {
  display: flex;
  justify-content: space-between;
  margin-top: 98px;
  align-items: center;
}
.tranding-products h3 {
  margin-bottom: 34px;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product11 {
  width: 370px;
  height: 370px;
  position: relative;
  margin-bottom: 30px;
}
.product11:hover .product-hover-tranding a:hover {
  background: #f7f7f7;
  box-shadow: 0 2px 4.85px 0.15px #6c6c6c;
  color: #6c6c6c;
}
.product11:hover .product-hover-tranding a:active {
  box-shadow: 0 0 4.85px 0.15px #6c6c6c;
  position: relative;
  top: 2px;
}
.product-hover-tranding {
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  opacity: 0.9;
  width: 368px;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.product-hover-tranding h3 {
  color: #212121;
  font-size: 21.91px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  transform: scaleX(1.0041);
  margin: 5px;
  margin-top: 19px;
}
.product-hover-tranding p {
  color: #6c6c6c;
  font-size: 13.94px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  width: 80%;
}
.product-hover-tranding a:link,
.product-hover-tranding a:visited {
  color: #212121;
}
.product-hover-tranding a {
  height: 48px;
  width: 48px;
  text-decoration: none;
  font-size: 40px;
  border: 1px solid #d9dee1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  transition: all 1s;
}
/* главная страница - огонек */
.hot-deals {
  display: flex;
  height: 800px;
  background-image: url(img/slider2.jpg);
  margin-top: 90px;
}
.hot-deals .hot-text {
  margin-top: 283px;
  margin-left: 99px;
}
.hot-deals .hot-text h4 {
  color: #e53935;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 48px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
}
.hot-navigation {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 67px;
  margin-top: 740px;
}
/* главная страница - эксклюзив */
.exclusive-product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content-ex {
  width: 600px;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
  flex-wrap: wrap;
}
.content-ex .product-ex-1 {
  height: 570px;
  width: 570px;
  margin: 15px;
  display: flex;
  background-image: url("img/product-1-lg.jpg");
}
.content-ex .product-ex-1 .ex-text {
  margin-top: 186px;
  margin-left: 30px;
}
.content-ex .product-ex-1 .ex-text h4 {
  color: #1e88e5;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 48px;
}
.content-ex .product-ex-1 .ex-text p {
  width: 332px;
}
.content-ex .product-ex-1 .ex-text h2 {
  color: #212121;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
}
.content-ex .product-ex {
  display: inline-block;
  height: 270px;
  width: 270px;
  margin: 0 15px 30px 15px;
  position: relative;
}
/* главная страница - для мобильника */
.mobile-app {
  margin-top: 98px;
  max-width: 1366px;
  height: 516px;
  background-image: url(img/back-img.jpg);
  display: flex;
  flex-direction: column;
}
.mobile-app .mobile-text {
  margin-top: 99px;
  margin-left: 106px;
}
.mobile-app h4 {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
}
.mobile-app h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  width: 407px;
  margin-top: 22px;
  margin-bottom: 26px;
}
.mobile-app p {
  color: #6c6c6c;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 33px;
}
.mobile-app img {
  width: 135px;
  height: 40px;
  margin-right: 10px;
  transition: all 1s;
}
.mobile-app img:hover {
  filter: invert(70%);
}
/* подвал */
.footer {
  background-color: #f7f7f7;
  min-height: 384px;
  display: flex;
  max-width: 1366px;
  flex-direction: column;
  padding-right: 84px;
  padding-left: 84px;
}
.footer .footer-top {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer .footer-main {
  display: flex;
  margin-top: 120px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-contacts {
  width: 260px;
}
.footer-contacts p {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  margin-top: 24px;
}
.footer-information {
  width: 365px;
}
.footer-information .footer-lists {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.footer-information .footer-lists li {
  list-style-type: none;
}
.footer-information .footer-lists li a {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-information .footer-lists li a:hover {
  color: #6c6c6c;
}
.footer-in-touch {
  width: 375px;
}
.footer-in-touch p {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  margin-top: 24px;
}
.footer-in-touch form {
  position: relative;
}
.footer-in-touch form input {
  width: 375px;
  height: 44px;
  padding-left: 19px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 26px;
}
.footer-in-touch form input:focus {
  outline: none;
}
.footer-in-touch form button {
  position: absolute;
  left: 340px;
  top: 35px;
  font-size: 20px;
  border: none;
  color: #6c6c6c;
  background: #ffffff;
}
.footer-in-touch form button:hover {
  cursor: pointer;
  color: #212121;
}
.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 67px;
}
.footer-bot p {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 39px;
  text-transform: uppercase;
}
.footer-bot .social-links img {
  width: 28px;
  height: 28px;
  margin-bottom: 30px;
  background: #6c6c6c;
  border-radius: 50%;
  transition: all 1s;
}
.footer-bot .social-links img:hover {
  box-shadow: 0 2px 4.85px 0.15px #6c6c6c;
  border-radius: 50%;
  filter: invert(100%);
}
.footer-bot .terms {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-decoration: none;
}
/* продукты - шапка */
.products-top {
  min-height: 360px;
  background-image: url(img-products/hero-back.jpg);
  padding-left: 98px;
  padding-right: 167px;
}
.products-top h1 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  margin-top: 136px;
  margin-bottom: 44px;
  margin-left: 3px;
}
/* продукты - список */
.hero {
  margin-right: 38px;
  margin-left: 38px;
}
.hero .tab-controll a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  height: 37px;
  padding-left: 15px;
  padding-right: 15px;
}
.hero .tab-controll a:hover {
  color: #212121;
}
.hero .tab-controll .tab-active {
  color: #212121;
  border-bottom: 3px solid #212121;
}
.hero ul {
  margin-left: 30px;
}
.hero .products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 75px;
}
.hero .product11 {
  width: 370px;
  height: 370px;
  margin: 30px;
}
.hero #hero {
  width: 640px;
  justify-content: space-around;
}
.icomoon {
  display: flex;
  justify-content: center;
  margin-top: 41px;
  margin-bottom: 140px;
}
.icomoon a {
  transition: all 1s;
}
.icomoon a:hover {
  filter: invert(60%);
  transform: rotate(180deg);
}
/* покупка товара */
.header-product {
  margin-left: 98px;
  margin-right: 167px;
}
.deal-top {
  height: 70px;
  background: #f4f4f4;
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deal-top .tab-controll-deal {
  list-style-type: none;
  display: flex;
}
.deal-top .tab-controll-deal a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.deal-top .tab-controll-deal li {
  margin-right: 30px;
}
.deal-top .tab-controll-deal li:hover a {
  color: #212121;
}
.deal-top #active-menu {
  color: #212121;
}
.deal-mid {
  display: flex;
  margin-top: 98px;
  padding-right: 113px;
  padding-left: 113px;
  margin-bottom: 125px;
  flex-wrap: wrap;
}
.deal-mid .deal-small {
  display: flex;
  justify-content: center;
}
.deal-mid .deal-small a:hover {
  box-shadow: 0 2px 4.85px 0.15px #212121;
  position: relative;
}
.deal-mid .deal-small a:active {
  box-shadow: 0 0 4.85px 0.15px #212121;
  position: relative;
  top: 2px;
}
.deal-mid-slider {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
}
.deal-mid-slider h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.deal-mid-slider h4 {
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 23px;
  text-transform: uppercase;
}
.deal-mid-slider h3 {
  color: #212121;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-top: 36px;
}
.deal-mid-slider h3 span {
  font-size: 72px;
  font-weight: 300;
}
.deal-mid-slider a {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 22px;
  letter-spacing: 5px;
}
.deal-mid-slider .order-us {
  display: flex;
  border-radius: 22.5px;
  height: 46px;
  background-color: #f44336;
  box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  justify-content: center;
  align-items: center;
  width: 510px;
  margin-left: 30px;
  margin-top: 31px;
  margin-bottom: 49px;
}
.deal-mid-slider .order-us:hover {
  background: #6c6c6c;
}
.deal-mid-slider .order-us:active {
  box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  position: relative;
  top: 2px;
}
.deal-mid-slider .order-us img {
  height: 24px;
}
.deal-mid-slider p {
  width: 499px;
  margin-bottom: 15px;
  color: #212121;
  font-size: 16px;
  font-weight: 300;
  margin-left: 30px;
}
.deal-bot {
  margin-bottom: 98px;
}
/* контакты */
.contacts {
  min-height: 563px;
  display: flex;
  justify-content: space-around;
  padding-left: 68px;
  padding-right: 68px;
  align-items: center;
  flex-wrap: wrap;
}
.contacts .contact {
  height: 370px;
  width: 370px;
  border: 1px solid #9c9c9c;
  margin-bottom: 98px;
  margin-top: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts .contact h2 {
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  margin-top: 34px;
  margin-bottom: 23px;
}
.contacts .contact h4 {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 700;
}
.contacts .contact h5 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 13px;
}
.contacts .contact p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */